@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

// Component background colors
$body-background: hsl(226, 43%, 10%);
$card-component-background: hsl(235, 46%, 20%);
$card-component-background-hover: hsl(235, 45%, 61%);

$profile-card-background: hsl(246, 80%, 60%);

// Typography colors
$color-secondary-text: hsl(236, 100%, 87%);
$color-white: aliceblue;
$work-card-underlay: hsl(15, 100%, 70%);
$play-card-underlay: hsl(195, 74%, 62%);
$study-card-underlay: hsl(348, 100%, 68%);
$exercise-card-underlay: hsl(145, 58%, 55%);
$social-card-underlay: hsl(264, 64%, 52%);
$self-care-card-underlay: hsl(43, 84%, 65%);

// css variables

:root {
    --margin-left: 2.5rem;
    --margin-top: 2.5rem;

    --card-gutter: 3rem;
}

@mixin card-underlay($background-image, $background-color) {
    background-image: url($background-image);
    background-color: $background-color;
}

@media only screen and (max-width: 480px) {
    :root {
        --margin-left: 2.5rem;
        --margin-top: 3rem;

        --card-gutter: 3rem;
    }
}
