*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 10px;
}
body {
    background-color: $body-background;
    color: $color-white;
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 144rem;
    margin: 0 auto;
    position: relative;

    main {
        display: flex;
        gap: 2.5rem;
        left: 50%;
        width: 100%;
        // height: 95vh;
        margin: 10rem 0;

        justify-content: center;

        .cards-container {
            display: grid;
            grid-template-columns: 23rem 23rem 23rem;
            grid-template-rows: 21rem 21rem;
            row-gap: 3rem;
            column-gap: 3rem;
        }
    }
}

@media only screen and (max-width: 980px) {
    body main .cards-container {
        display: grid;
        grid-template-columns: 23rem 23rem;
        grid-template-rows: 21rem 21rem 21rem;
    }
}
@media only screen and (max-width: 730px) {
    body main .cards-container {
        display: grid;
        grid-template-columns: 23rem;
        grid-template-rows: 21rem 21rem 21rem 21rem 21rem 21rem;
    }
}

// for mobile Device

@media only screen and (max-width: 375px) {
    body {
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .cards-container {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            }
        }
    }
}
